.contactus_main {
  text-align: center;
  margin-top: 2rem;
}

.maps_container {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  justify-content: center;
}

.street_view {
  border: 2px solid black;
}

.google_map {
  border: 2px solid black;
}

.maps_container iframe {
  width: 400px;
  height: 300px;
}
