.navBar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.navButton {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navButton.active {
  color: #ff6b6b;
}
